<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="allfile" xsi:type="File" fileName="${basedir}/logs/file-${shortdate}.log" />
		<target name="logconsole" xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" writeTo="allfile" />
		<logger name="*" minlevel="Debug" writeTo="allfile" />

		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<logger name="*" minlevel="Error" writeTo="allfile" />
		<logger name="*" minlevel="Warn" writeTo="allfile" />
		
	</rules>
</nlog>